input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.dealItem {
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    cursor: pointer;
    padding-right: 65px;
}

.dealItem.complete {
    background: green;
}

.inputWrapper {
    position: relative;
}

.close {
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #888;
}

.close::after,
.close::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    background: #f00;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
}

.close::before {
    transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}

.close:hover,
.edit:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    right: 35px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #888;
    color: #888;
    font-size: 10px;
}

.tools {
    opacity: 0;
    transition: .3s;
}

.inputWrapper:hover .tools {
    opacity: 1;
}

.dealItem:disabled {
    background: #fff;
}

.dealItem:focus {
    background: #ccc;
}